<h1>TalentoTech</h1>

<div style="color: rgb(43, 43, 43); background-color: #dbdbdb; max-width: 500px; display: flex; flex-direction: column; border-radius: 10px; padding: 0 25px 25px 25px;">
    <div>
        <h1 style="text-align: center;">{{nombreVideo}}</h1>
    </div>
    <div>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/f33yfg7IdT8?si=syIFhwahChtm_DRq"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
    <div>
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quaerat enim possimus exercitationem architecto similique sed vitae ipsam distinctio veritatis fugit impedit consequuntur dignissimos eius quidem, repellat vero voluptates iste.</p>
    </div>
    <div style="display: flex; gap: 10px; justify-content: end;">   
        <button style="border: none; padding: 10px 30px; border-radius: 10px; cursor:pointer; color: rgb(255, 255, 255); background-color: rgb(255, 104, 104);">Salir</button>
        <button style="border: none; padding: 10px 30px; border-radius: 10px; cursor:pointer; background-color: rgb(109, 109, 253); color: white;">Ingresar</button>
    </div>
</div>