<div class="flex justify-center mt-10">
 <form class="form-signin" [formGroup]="productoForm" (ngSubmit)="crearProducto()">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label for="nombre">Nombre</label>
    <input type="text" class="border p-2 rounded-lg" formControlName="nombre">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label for="SKU" class="form-label">SKU</label>
    <input type="text" class="border p-2 rounded-lg mt-4" formControlName="SKU">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label for="image" class="form-label">image</label>
    <input type="text" class="border p-2 rounded-lg mt-4" formControlName="image">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label class="form-label" for="cantidad">Cantidad</label>
    <input type="number" class="border p-2 rounded-lg mt-4" formControlName="cantidad">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label class="form-label" for="precio">Precio</label>
    <input type="number" class="border p-2 rounded-lg mt-4" formControlName="precio">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label class="form-label" for="nit">NIT</label>
    <input type="text" class="border p-2 rounded-lg mt-4" formControlName="nit">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label class="form-label" for="razonSocial">Razón social</label>
    <input type="text" class="border p-2 rounded-lg mt-4" formControlName="razonSocial">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label class="form-label" for="telefono">Teléfono</label>
    <input type="number" class="border p-2 rounded-lg mt-4" formControlName="telefono">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <label class="form-label" for="direccion">Dirección</label>
    <input type="text" class="border p-2 rounded-lg mt-4" formControlName="direccion">
  </div>
  <button type="submit" class="bg-sky-500 hover:bg-sky-700 text-white cursor-pointer p-3 rounded-lg w-full mt-5 transition-all">Enviar</button>
</form>
</div>

